/*shared style*/
.displayFlex{
    display: flex;
    justify-content: space-around;
}
header{
    background-color: rgba(246, 235, 218, 1);


}

.description{
    font-size: 40px;
    font-weight:300;
    color: rgba(126, 125, 122, 1);
}
.title{
    font-size: 30px;
}
/*           footer       */
.footerImg{
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}
.footer{
    margin-top: 50px;
}
.howToDeliver{ 
    margin-left: 150px;
    font-size: 50px;
}

/*shared style*/



/* page 1
            NAV BAR*/

.navBar{
    padding: 30px;
    display: flex;
    height: 40;
    align-items: center;

   
}
ul li{
    list-style: none;
    font-size: 24px;
    width: 200px;
    justify-content: space-around;
    font-weight: bold; 

}
li:hover{
    opacity: 50%;
    color: brown;
}

.cappucinioBtn{
    height: 40px;
    width: 200px;
    color: grey;
    border-radius: 10px;
    border: none;
    background-color: white;
}


/*hero section*/
.home{
    margin: 70px;
}

.homeTitle{
    font-size: 48px;
    font-weight: bold;
   
   

}
.imgHomeCoffee{
    position: absolute;
    margin-left: 250px;
}
.imgHomeRound{
    margin-left: 200px;
}
.homeBox2{
    position: relative;
    background-image: url(./assets/bg_img_hero.png);
    height: 500px;
    width: 700px;
    


}
.aboutUs{
   gap: 350px;
   align-items: center;
   padding: 30px ;

}
.contactBtn{
    height: 40px;
    width: 150px;
    background-color: rgba(47, 33, 5, 1);
    color: rgba(244, 174, 38, 1);
    font-size: 20px;
    border-radius: 30px;
    
    

}
.contactBtn:hover{
    opacity: 50%;
    cursor: pointer;
}
.aboutUsBox1{
    align-items: center;
}
.getCoffee{
    width: 200px;
    
}

/*        page 2 NAV BAR   */

.page2Nav{
    padding: 20px;
    display: flex;
    justify-content: space-between;
   
}
.dropDown{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.dropDownMenu{
    display: none;
    position: absolute;
    background: white;
    list-style: none;
    padding: 10px;
    width: 150px;
    border-radius: 5px;
}
.dropDownMenu li{
   
    cursor: pointer;
}
.dropDown:hover .dropDownMenu{
    display: block;
}
.dropDownMenu li:hover{
    background-color: bisque;
}
.dropDownBtn{
    height: 38px;
    width: 142px;
    background-color: rgba(47, 33, 5, 1);
    color: rgba(244, 174, 38, 1);
    font-size: 20px;
    border-radius: 34px;
    text-align: center;

}
/*           CARDS       */
.cardContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 50px;
    margin-left: 100px;
    padding-bottom: 150px;
  
    
}
.card{
    height: 450px;
    width: 400px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 10px 50px;
    padding: 20px;
}
.card-img{
    height: 226px;
    width: 307px;
    border-radius: 20px;

    

}
.card-img-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 30px;
}
.rating{
    position: absolute;
    height: 50px;
    width: 62px;
    margin-right: 250px;
    margin-bottom: 150px;
}
.card-des{
    align-items: center;
   
  
    

}
.card-description{
    font-size: 18px;
    font-weight: bold;
}

/* popular now */
.cardContainer2{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 50px;
    margin-left: 100px;
    padding-bottom: 150px;
    background-image: url(./assets/bg_img_hero.png);
   
    width:1600px;
   
    
}
.POPULAR{
    font-size: 40px;
}

.card-img2{
    position: absolute;
    margin-bottom: 500px;
}
.cardContainer3{
    background-color: bisque;
    padding: 10px;
    border-radius: 50px;
}


/*     page3       */
.page3Nav{
    display: flex;
    justify-content: end;
    gap: 50px;
    margin: 30px;

}
.lastNavBtn{
    height: 50px;
    width: 100px;
    background-color: rgb(123, 59, 7);
    color: #fcaf67;
    border-radius: 10px;
    border: none;
    font-weight: bold ;
}

.lastNavBtn:hover{
    opacity: 50%;
    cursor: pointer;
}


.contactContainer{
    margin: 100px;
    align-items: center;
}

.Contact{
    
    margin: 20px;
    padding: 30px;
    width: 350px;
    background-color: whitesmoke;
    border: none;
    border-radius: 20px;
}
.contactUs{
    color: brown;
    margin-left: 20px;
}
.lastConBtn{
    margin-left:20px ;
    font-size: 15px;
    font-weight: bold;
    width: 150px;
}
.icon{
    font-weight: bolder;
    font-size: 50px;
}
.icon:hover{
    opacity: 50%;
}
.icons{
    display: flex;
    gap: 20px;
}











