/*shared style*/
.displayFlex{
    display: flex;
    justify-content: space-around;
}
header{
    background-color: rgba(246, 235, 218, 1);


}

.description{
    font-size: 40px;
    font-weight:300;
    color: rgba(126, 125, 122, 1);
}
.title{
    font-size: 30px;
}





/* page 1
            NAV BAR*/

.navBar{
    padding: 30px;
    display: flex;
    height: 40;
    align-items: center;

   
}
ul li{
    list-style: none;
    font-size: 24px;
    width: 200px;
    justify-content: space-around;
    font-weight: bold; 

}
li:hover{
    opacity: 50%;
    color: brown;
}

.cappucinioBtn{
    height: 40px;
    width: 200px;
    color: grey;
    border-radius: 10px;
    border: none;
    background-color: white;
}


/*hero section*/
.home{
    margin: 70px;
}

.homeTitle{
    font-size: 48px;
    font-weight: bold;
   
   

}
.imgHomeCoffee{
    position: absolute;
    margin-left: 250px;
}
.imgHomeRound{
    margin-left: 200px;
}
.homeBox2{
    position: relative;
    background-image: url(./assets/bg_img_hero.png);
    height: 500px;
    width: 700px;
    


}
.aboutUs{
   gap: 350px;
   align-items: center;

}
.contactBtn{
    height: 40px;
    width: 150px;
    background-color: rgba(47, 33, 5, 1);
    color: rgba(244, 174, 38, 1);
    font-size: 20px;
    border-radius: 30px;
    
    

}
.contactBtn:hover{
    opacity: 50%;
    cursor: pointer;
}
.aboutUsBox1{
    align-items: center;
}
.getCoffee{
    width: 200px;
    
}








